{% extends 'oefening/base.html' %}

{% block title %}
    login
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>Login to Rango</h1>

    <div class="container">
    <form class="form-signin span4" id="login_form" method="post" action="/oefening/login/">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}

        {% if bad_details %}
        <p><strong>Your username and/or password were incorrect!</strong></p>
        {% elif disabled_account %}
        <p><strong>Your Rango account is currently disabled; we can't log you in!</strong></p>
        {% endif %}

        <strong>Username: </strong> <input type="text" class="form-control" placeholder="Username" name="username" value="" size="50" />
        <br />
        <strong>Password: </strong> <input type="password" class="form-control" placeholder="Password" name="password" value="" size="50" />
        <br />
        <button class="btn btn-custom" type="submit">Sign in</button>
    </form>

    </div>
    <!-- /container -->
</div>
{% endblock %}


